    <add key="ConferenceTool.UnknownPartnerKey" value="43001234" />
    <add key="ConferenceTool.UnknownPartnerName" value="Unbekannt, ==invalid" />
    <add key="ConferenceTool.DefaultPartnerLedger" value="33000000" />
    <add key="ConferenceTool.ValidatePartnerKeys" value="false" />

    <!-- template for gift batch: motivation group code, motivation detail code, description for split gift
    <add key="ConferenceTool.TemplateApplication" value="MY, 01, My Anmeldegebühr" />
    <add key="ConferenceTool.TemplateManualApplication" value="MY, 01, My Manuelle Anmeldegebühr" />
    <add key="ConferenceTool.TemplateConferenceFee" value="MY, 02, My Teilnehmerbeitrag" />

    <!-- template for donations that come with the registration: destination field partner key, country, motivation group code, motivation detail code -->
    <add key="ConferenceTool.TemplateDonation" value="43000000, Deutschland, MOTGROUP, MOTDETAIL," />
    <add key="ConferenceTool.OnlineRegistrationExport" value="I:\myconference\fibu.ods" />
    <add key="ConferenceTool.SEPAEmail" value="I:\myconference\formletters\emailTemplate.html" />
    <add key="ConferenceTool.SEPAReport" value="I:\myconference\formletters\LastschriftenBericht.html" />
    <add key="ConferenceTool.GiftBatchCSVFilename" value="c:\tmp\GiftBatchMyConference.csv" />
    <add key="ConferenceTool.SEPAFilename" value="T:\daten\MyConferenceSEPA.xml" />
    <add key="ConferenceTool.CreditorName" value="OUR NAME" />
    <add key="ConferenceTool.CreditorIBAN" value="TODO" />
    <add key="ConferenceTool.CreditorBIC" value="TODO" />
    <add key="ConferenceTool.CreditorSchemeID" value="TODO" />
    <add key="ConferenceTool.DirectDebitDescription" value="MyConference #PARTICIPANT" />
    <add key="ConferenceTool.EmailUser" value="TODO" />
    <add key="ConferenceTool.SendingAddress" value="Someone Surname &lt;firstname.lastname@myorg.org&gt;" />
    <!--
    <add key="Disabled.ConferenceTool.TestSendEmail" value="Sysadmin &lt;test@myorg.org&gt;" />
    -->
    <add key="SmtpHost" value="myorg.org" />
    <add key="SmtpEnableSsl" value="true" />
